<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
</head>
<body style="background-color: rgb(49, 49, 49);">
    <div class="main">
        <div class="heading">
            <h1>SENTIMENT ANALYSIS</h1>
        </div>
        <div class="inpt">
            <form method="POST" class = "form">
                <input type="text" name="inp" placeholder="Enter text" id="ipt" required><br>
                <input type="submit" name="submit" id="btn">
            </form>
        </div>
        <div class="output">
        {% if sentiment %}
        <h2>Analysis Result:</h2>
        <p>User Input: {{input}}</p>
        <p>Sentiment Polarity: {{ sentiment.polarity }}</p>
        <div style="display: flex;justify-content: center;">
        &#128542;<div style="width: 210px"></div>&#128528;<div style="width: 210px"></div>&#128512;</div><br>
        <meter value="{{ sentiment_score }}" min="-1" max="1" style="width:500px; height:20px"></meter>
        <p>Sentiment Subjectivity: {{ sentiment.subjectivity }}</p>
        <h3>the message signifies a {{message}} sentiment</h3>
        {% endif %}
        <!-- <h3>the message signifies a {{message}} sentiment</h1> -->
        </div>
    </div>
</body>
</html>